@import '../../globals';

.price {
	font-size: 1.75rem;
	font-weight: 700;

	.price-type {
		color: $textAltColor;
		font-size: 0.8rem;
		font-weight: 400;
		text-transform: lowercase;
		margin-left: 5px;
	}
}