@import '../../globals';

.button {
	$buttonShadow: 0 1px 2px rgba(0,0,0,0.4);

	outline: none;
	border: 1px solid $primaryColor;
	border-radius: 2px;
	padding: 5px 15px;
	background: linear-gradient(lighten($primaryColor, 15), lighten($primaryColor, 5) 5px, $primaryColor 10px);
	color: $textContrastColor;
	font-size: 1.1rem;
	font-weight: $thinFontWeight;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	box-shadow: $buttonShadow;

	// Alternate style button
	&.alt {
		border-color: $textAltColor;
		background: linear-gradient(lighten($textAltColor, 50), lighten($textAltColor, 20) 5px, $textAltColor 10px);
	}

	// Hover state
	&:hover {
	}

	// Focus state
	&:focus {
		box-shadow: 0 0 5px 1px $focusColor;
	}

	// Secondary style button
	&.secondary {
		$darkenedColor: darken($tertiaryColor, 15);

		border: none;
		padding: 4px 15px;
		background: $tertiaryColor;
		color: $textAltColor;
		font-size: 0.8rem;
		box-shadow: none;

		&:hover {
			background: darken($tertiaryColor, 7);
		}

		&:focus {
			box-shadow: 0 0 4px 0 $focusColor;
			background: $darkenedColor;
		}
	}
}