@import '../../globals';

.product-detail {
	.product-title {
		@extend .l1-header;
		text-align: center;
		margin: 2rem 0;
	}

	.price {
		margin-top: 1rem;
	}

	.product-actions {
		padding: 20px 0;

		.button {
			margin-right: 20px;
		}
	}

	.meta-buttons {
		.button {
			margin-right: 10px;
		}
	}
}