@import '../../globals';

.product-detail {
	max-width: 960px;
	margin: 0 auto;

	.product-title {
		@extend .l1-header;
		margin: $baseSpacing 0;
		text-align: center;
	}

	.price {
		margin-top: 1rem;
	}

	.product-actions {
		margin: $baseSpacing 0 $baseSpacing * 1.5;
		display: flex;

		.button {
			width: 50%;

			&:not(:first-child) {
				margin-left: $baseSpacing/2;
			}
		}
	}

	.product-returns {
		margin: $baseSpacing 0;
		display: flex;
		align-items: center;

		.product-returns-title {
			padding-right: $baseSpacing/2;
			font-size: 1.2rem;
			font-weight: $normalFontWeight;
			text-transform: lowercase;
			line-height: 1;
		}

		.product-returns-content {
			flex: 1;
			border-left: 1px solid $borderColor;
			padding: 0 $baseSpacing/2;
			font-size: 0.7rem;
		}
	}

	.meta-buttons {
		margin: $baseSpacing 0;
		display: flex;

		.button {
			width: 33.3%;

			&:not(:first-child) {
				margin-left: $baseSpacing/2;
			}
		}
	}

	.product-highlights {
		margin: $baseSpacing 0;

		.product-highlights-title {
			@extend .l2-header;
			margin-bottom: $baseSpacing;
		}

		.product-highlights-list {
			margin-left: $baseSpacing;
			font-size: 0.9rem;

			li {
				margin-bottom: $baseSpacing/4;
			}

			strong {
				font-weight: $normalFontWeight;
			}
		}
	}

	// columns for widescreen browsers.
	&.wide-view {
		display: flex;

		.column-content {
			width: 50%;

			&:first-child {
				padding-right: $baseSpacing/2;
			}

			&:not(:first-child) {
				padding-left: $baseSpacing/2
			}
		}

		// border: 1px solid red;
	}
}