/////
 // Global Vars
 //
$primaryColor: #BD271A;
$secondaryColor: #000;
$tertiaryColor: #F3F3F3;

$textColor: #000;
$textAltColor: #999;
$textContrastColor: #fff;


/////
 // Typography
 //
.l1-header {
	font-weight: 200;
	font-size: 1.6rem;
}

.l2-header {
	font-weight: 400;
	font-size: 1.6rem;
}
