@import './globals';

// Resets and Global Styles

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	color: $textColor;
	font-size: 12px;
	line-height: 1.4;
}

body,
input,
button {
	font-family: 'Helvetica Neue', sans-serif;
}

button {
	cursor: pointer;
}

button[disabled],
button.disabled {
	cursor: default;
}

.content {
	margin: 4rem 3rem 3rem;
}