// Resets and Global Styles

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 12px;
}

body {
	font-family: 'Helvetica Neue', sans-serif;
}

.content {
	margin: 4rem 3rem 3rem;
}